.form-container
  %form{action: '/', method: 'POST'}
    .form-group
      %label{for: 'uid'} UID
      %input.form-control{type: 'text', name: 'uid', id: 'uid'}
    .form-group
      %label{for: 'pub0'} PUB0
      %input.form-control{type: 'text', name: 'pub0', id: 'pub0'}
    .form-group
      %label{for: 'page'} Page
      %input.form-control{type: 'text', name: 'page', id: 'page'}
    .form-group
      %input.btn.btn-primary{type: 'submit', value: 'Get Offers'}