.panel.panel-default
  .panel-heading Offers at the moment
  - if @offers.any?
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Thumbnail
          %th Payout
      %tbody
        - @offers.each do |offer|
          %tr
            %td= offer["title"]
            %td
              %img{ src: offer["thumbnail"]["lowres"] }
            %td= offer["payout"]
  - else
    %p No offers available