%a{href: '/'} Back
- if @offers.any?
  %table
    %tr
      %th Title
      %th Lowres
      %th Payout
    - @offers.each do |offer|
      %tr
        %td= offer["title"]
        %td= offer["thumbnail"]["lowres"]
        %td= offer["payout"]
- else
  %p No offers available